<div class="asd">
    <div class="historic box mr-4">
        <span class="titles is-3"> Historias de operaciones</span>
        <app-table-historic [historics]="historics"></app-table-historic>
    </div>
    <div class="calculadora">
        <div class="display">
            <div id="valor-anterior">asdasd
                <input type="text" [(ngModel)]="operation">
            </div>
            <div class="result">
                <span class="block">{{result}}</span>
            </div>
        </div>
        <button class="col-2" (click)="deleteAll()">C</button>
        <button (click)="deleteOne()">
            <-- </button>
        <button class="operador" value="dividir" (click)="aggNumber('%')">%</button>
        <button class="numero" (click)="aggNumber('(')">(</button>
        <button class="numero" (click)="aggNumber('7')">7</button>
        <button class="numero" (click)="aggNumber('8')">8</button>
        <button class="numero" (click)="aggNumber('9')">9</button>
        <button class="operador" (click)="aggNumber('*')">X</button>
        <button class="numero" (click)="aggNumber(')')">)</button>
        <button class="numero" (click)="aggNumber('4')">4</button>
        <button class="numero" (click)="aggNumber('5')">5</button>
        <button class="is-primary" (click)="aggNumber('6')">6</button>
        <button class="operador" (click)="aggNumber('-')">-</button>
        <button class="numero">AggV</button>
        <button class="numero" (click)="aggNumber('1')">1</button>
        <button class="numero" (click)="aggNumber('2')">2</button>
        <button class="numero" (click)="aggNumber('3')">3</button>
        <button class="operador" (click)="aggNumber('+')">+</button>
        <button class="numero">Vars</button>
        <button class="col-2 numero" (click)="aggNumber('0')">0</button>
        <button class="numero" (click)="aggNumber('.')">.</button>
        <button class="operador" (click)="action()">=</button>


    </div>
    <div class="vars box ml-6">
        <span class="titles is-3"> Variables</span>
        <app-table-vars [vars]="variables"></app-table-vars>
    </div>
</div>