<p-table [value]="vars" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vari>
        <tr>
            <td> {{vari.key}} </td>
            <td> {{vari.value}} </td>
            <td>
                <button class="button is-rounded is-primary" (click)="onEmiter(vari, 'use')"> Usar 
                </button>
                <button class="button is-rounded is-danger" (click)="onEmiter(vari, 'delete')"> Eliminar </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="2"> No se encontraron variables.</td>
        </tr>
    </ng-template>
</p-table>